<a href="https://colab.research.google.com/github/mehdy28/Fligh_Delay/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing data and creating dataset

In [1]:
import pandas as pd
import numpy as np

In [2]:
url= 'https://raw.githubusercontent.com/mehdy28/Fligh_Delay/main/data/test.csv'
test= pd.read_csv(url)
test.head()

  Month DayofMonth DayOfWeek  DepTime UniqueCarrier Origin Dest  Distance
0   c-7       c-25       c-3      615            YV    MRY  PHX       598
1   c-4       c-17       c-2      739            WN    LAS  HOU      1235
2  c-12        c-2       c-7      651            MQ    GSP  ORD       577
3   c-3       c-25       c-7     1614            WN    BWI  MHT       377
4   c-6        c-6       c-3     1505            UA    ORD  STL       258

In [3]:
url= 'https://raw.githubusercontent.com/mehdy28/Fligh_Delay/main/data/train.csv'
train= pd.read_csv(url)
train.head()

,Month,DayofMonth,DayOfWeek,DepTime,UniqueCarrier,Origin,Dest,Distance,dep_delayed_15min
0,c-8,c-21,c-7,1934,AA,ATL,DFW,732,N
1,c-4,c-20,c-3,1548,US,PIT,MCO,834,N
2,c-9,c-2,c-5,1422,XE,RDU,CLE,416,N
3,c-11,c-25,c-6,1015,OO,DEN,MEM,872,N
4,c-10,c-7,c-6,1828,WN,MDW,OMA,423,Y

## Exploratory Data Analysis

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 9 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Month              100000 non-null  object
 1   DayofMonth         100000 non-null  object
 2   DayOfWeek          100000 non-null  object
 3   DepTime            100000 non-null  int64
 4   UniqueCarrier      100000 non-null  object
 5   Origin             100000 non-null  object
 6   Dest               100000 non-null  object
 7   Distance           100000 non-null  int64
 8   dep_delayed_15min  100000 non-null  object
dtypes: int64(2), object(7)
memory usage: 6.9+ MB

In [5]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 8 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Month          100000 non-null  object
 1   DayofMonth     100000 non-null  object
 2   DayOfWeek      100000 non-null  object
 3   DepTime        100000 non-null  int64
 4   UniqueCarrier  100000 non-null  object
 5   Origin         100000 non-null  object
 6   Dest           100000 non-null  object
 7   Distance       100000 non-null  int64
dtypes: int64(2), object(6)
memory usage: 6.1+ MB

We do not have any null columns in our data

In [6]:
print("The unique values of 'Distance' in the: ")
print("Train dataset: ",train.Distance.unique())
print("Test dataset: ",test.Distance.unique())

The unique values of 'Distance' in the:
Train dataset:  [ 732  834  416 ... 2242  536 1198]
Test dataset:  [ 598 1235  577 ...   96 1367   91]

In [7]:
print("The unique values of 'UniqueCarrier' in the: ")
print("Train dataset: ",train.UniqueCarrier.unique())
print("Test dataset: ",test.UniqueCarrier.unique())

The unique values of 'UniqueCarrier' in the:
Train dataset:  ['AA' 'US' 'XE' 'OO' 'WN' 'NW' 'DL' 'OH' 'AS' 'UA' 'MQ' 'CO' 'EV' 'DH'
 'YV' 'F9' 'AQ' 'TZ' 'HP' 'B6' 'FL' 'HA']
Test dataset:  ['YV' 'WN' 'MQ' 'UA' 'NW' 'B6' 'US' 'AA' 'OH' 'OO' 'FL' 'DL' 'EV' 'CO'
 'XE' '9E' 'HA' 'AS' 'AQ' 'F9']

In [8]:
print("The unique values of 'Origin' in the: ")
print("Train dataset: ",train.Origin.unique())
print("Test dataset: ",test.Origin.unique())

The unique values of 'Origin' in the:
Train dataset:  ['ATL' 'PIT' 'RDU' 'DEN' 'MDW' 'MEM' 'PBI' 'MSP' 'ONT' 'BDL' 'PHX' 'LAS'
 'DFW' 'DSM' 'CMH' 'ORF' 'SLC' 'CLT' 'GSO' 'IAD' 'SMF' 'FLL' 'DAL' 'ORD'
 'ITO' 'SAN' 'ROA' 'LGA' 'SFO' 'GSP' 'SEA' 'DAB' 'SJC' 'LIT' 'LAX' 'OAK'
 'COS' 'OKC' 'GRR' 'JFK' 'BOI' 'MCI' 'BWI' 'BHM' 'CRP' 'BOS' 'SAT' 'PHL'
 'STL' 'CIC' 'AUS' 'IAH' 'COD' 'HNL' 'RNO' 'BNA' 'TPA' 'MIA' 'EVV' 'PNS'
 'EWR' 'RSW' 'ANC' 'SNA' 'AMA' 'CID' 'DTW' 'DCA' 'LGB' 'MAF' 'MFE' 'BMI'
 'PDX' 'IPL' 'GRB' 'FAR' 'HOU' 'MTJ' 'DRO' 'MLU' 'VPS' 'TUL' 'CVG' 'SBA'
 'PWM' 'IDA' 'MCO' 'ACV' 'CHS' 'BGM' 'MSY' 'OGG' 'CLE' 'MOB' 'CAK' 'FAY'
 'SHV' 'TUS' 'IND' 'CAE' 'PVD' 'ROC' 'MFR' 'VLD' 'ELP' 'RIC' 'MKE' 'SGF'
 'TYS' 'CHO' 'EGE' 'BIS' 'JAN' 'JAX' 'BUF' 'MSO' 'BGR' 'CEC' 'ICT' 'MYR'
 'ALB' 'LIH' 'SBP' 'AEX' 'GNV' 'SAV' 'BTM' 'BRO' 'SJU' 'XNA' 'CPR' 'SDF'
 'JAC' 'AVL' 'PHF' 'GPT' 'SYR' 'PSP' 'MHT' 'MRY' 'CLD' 'FAT' 'MSN' 'ISP'
 'BUR' 'PSC' 'MEI' 'LEX' 'LBB' 'GEG' 'LFT' 'OMA' 'ISO' 'MGM' 'GRK' 'AVP'
 'ABQ' 'SRQ' 'BTV' 'FLG' 'BTR' 'MDT' 'ABI' 'TRI' 'ADQ' 'FSM' 'SMX' 'RST'
 'RAP' 'ILM' 'SIT' 'EKO' 'DBQ' 'CHA' 'BQK' 'BZN' 'MOD' 'MOT' 'MLB' 'TVC'
 'LAN' 'DAY' 'HSV' 'EUG' 'SGU' 'ACT' 'AGS' 'CLL' 'HLN' 'LNK' 'ASE' 'HRL'
 'ATW' 'CMI' 'LWS' 'DHN' 'FNT' 'FLO' 'RDM' 'TYR' 'KOA' 'FAI' 'OME' 'RDD'
 'MCN' 'TLH' 'MQT' 'AZO' 'FCA' 'CRW' 'TOL' 'HPN' 'FSD' 'FWA' 'SUN' 'LAW'
 'YUM' 'PIA' 'GTF' 'ACY' 'PIH' 'SPS' 'MLI' 'BIL' 'TWF' 'HTS' 'SBN' 'PFN'
 'GJT' 'CSG' 'JNU' 'TXK' 'LRD' 'BQN' 'CWA' 'SWF' 'GTR' 'BFL' 'OXR' 'KTN'
 'PIE' 'SCE' 'PSG' 'DLH' 'SJT' 'GUC' 'SPI' 'IYK' 'ABY' 'STT' 'ABE' 'GFK'
 'HDN' 'CDV' 'MBS' 'TUP' 'LCH' 'EYW' 'OTZ' 'ADK' 'GGG' 'VIS' 'GST' 'LYH'
 'HVN' 'BRW' 'LSE' 'ERI' 'HKY' 'BET' 'CDC' 'OAJ' 'WRG' 'ACK' 'DLG' 'YAK'
 'AKN' 'TEX' 'STX' 'SCC' 'APF' 'BPT' 'WYS' 'RFD' 'BLI' 'ILG' 'VCT' 'LWB'
 'PSE']
Test dataset:  ['MRY' 'LAS' 'GSP' 'BWI' 'ORD' 'ORF' 'IAD' 'MSP' 'PIT' 'DFW' 'JFK' 'ASE'
 'GRR' 'DEN' 'DAB' 'ATL' 'CMH' 'MDT' 'IAH' 'MIA' 'LAX' 'TYS' 'MCI' 'STL'
 'LGA' 'DTW' 'CLT' 'DCA' 'SFO' 'MSN' 'IND' 'ALB' 'HNL' 'PWM' 'MDW' 'PHX'
 'BOS' 'GEG' 'ABE' 'DAL' 'EWR' 'LEX' 'OAK' 'SAN' 'SGF' 'OMA' 'MAF' 'CLD'
 'SNA' 'BUR' 'PHL' 'PDX' 'BDL' 'ANC' 'JAN' 'OKC' 'MLU' 'RDU' 'ONT' 'SLC'
 'TWF' 'FLL' 'ABI' 'CLE' 'CVG' 'AZO' 'SWF' 'SJU' 'COS' 'GSO' 'MEM' 'MCO'
 'RSW' 'TPA' 'FAT' 'BUF' 'JAX' 'ITO' 'ERI' 'PIA' 'LIT' 'SBA' 'CID' 'BHM'
 'BTM' 'CAE' 'GTF' 'BNA' 'PIH' 'LIH' 'XNA' 'MKE' 'BMI' 'RIC' 'SAT' 'SJC'
 'SMF' 'ABQ' 'PVD' 'BOI' 'SYR' 'SGU' 'ISP' 'MGM' 'AGS' 'PSP' 'ICT' 'LFT'
 'SEA' 'STT' 'DRO' 'EYW' 'GPT' 'AUS' 'MYR' 'SAV' 'KOA' 'SHV' 'PFN' 'GJT'
 'PBI' 'MHT' 'BTR' 'BGR' 'DSM' 'ELP' 'MSY' 'HOU' 'JAC' 'TUL' 'ROA' 'RNO'
 'CRW' 'MFR' 'IDA' 'MLI' 'DAY' 'PNS' 'ROC' 'HSV' 'AVL' 'CWA' 'ACT' 'BRO'
 'TUS' 'LYH' 'FSD' 'SIT' 'BIS' 'GRK' 'LBB' 'FAR' 'OGG' 'SRQ' 'SDF' 'PHF'
 'MTJ' 'GTR' 'CHS' 'VPS' 'HPN' 'ACV' 'RAP' 'HRL' 'LRD' 'LAN' 'EUG' 'CPR'
 'CAK' 'BZN' 'IPL' 'CHO' 'BRW' 'AMA' 'EVV' 'FWA' 'MOD' 'SUN' 'SBP' 'BTV'
 'MOB' 'CRP' 'HDN' 'SBN' 'BGM' 'CMI' 'LAW' 'TVC' 'CSG' 'FAI' 'CDV' 'DLH'
 'YAK' 'AVP' 'BET' 'AEX' 'RST' 'FNT' 'BIL' 'LGB' 'ILM' 'JNU' 'TYR' 'SMX'
 'MFE' 'DLG' 'MBS' 'DHN' 'MQT' 'RDM' 'ATW' 'BFL' 'CLL' 'FAY' 'SCE' 'KTN'
 'CHA' 'TXK' 'GNV' 'FCA' 'BQK' 'TLH' 'EWN' 'ADQ' 'LNK' 'CIC' 'MLB' 'TRI'
 'FLG' 'PSG' 'SPI' 'HLN' 'ILG' 'GRB' 'MCN' 'ADK' 'ELM' 'OAJ' 'TOL' 'GGG'
 'CMX' 'FSM' 'ACK' 'LSE' 'GFK' 'PLN' 'SPS' 'YKM' 'LWS' 'YUM' 'RDD' 'DBQ'
 'ACY' 'EKO' 'PSE' 'MSO' 'OME' 'ABY' 'SCC' 'IYK' 'EGE' 'SJT' 'HHH' 'VLD'
 'INL' 'BQN' 'APF' 'FLO' 'RFD' 'PSC' 'GUC' 'LCH' 'EAU' 'MOT' 'BPT' 'COD'
 'SUX' 'MEI' 'OXR' 'SLE' 'TEX' 'ROW' 'WRG' 'BLI' 'TTN' 'CEC' 'MTH' 'STX'
 'OTZ' 'PMD' 'SOP' 'HTS' 'GST' 'BJI' 'WYS' 'LWB' 'ALO' 'AKN' 'TUP' 'RHI']

In [9]:
print("The unique values of 'DayofMonth' in the: ")
print("Train dataset: ",train.DayofMonth.unique())
print("Test dataset: ",test.DayofMonth.unique(),'\n')
print("The unique values of 'Month' in the: ")
print("Train dataset: ",train.Month.unique())
print("Test dataset: ",test.Month.unique(),'\n')
print("The unique values of 'DayOfWeek' in the: ")
print("Train dataset: ",train.DayOfWeek.unique())
print("Test dataset: ",test.DayOfWeek.unique(),'\n')

The unique values of 'DayofMonth' in the:
Train dataset:  ['c-21' 'c-20' 'c-2' 'c-25' 'c-7' 'c-3' 'c-27' 'c-29' 'c-28' 'c-5' 'c-6'
 'c-10' 'c-19' 'c-26' 'c-14' 'c-22' 'c-9' 'c-31' 'c-4' 'c-16' 'c-18'
 'c-30' 'c-1' 'c-24' 'c-15' 'c-17' 'c-8' 'c-12' 'c-13' 'c-11' 'c-23']
Test dataset:  ['c-25' 'c-17' 'c-2' 'c-6' 'c-22' 'c-30' 'c-11' 'c-14' 'c-23' 'c-18'
 'c-12' 'c-31' 'c-9' 'c-10' 'c-7' 'c-27' 'c-20' 'c-13' 'c-3' 'c-16' 'c-15'
 'c-5' 'c-8' 'c-26' 'c-1' 'c-29' 'c-21' 'c-28' 'c-4' 'c-24' 'c-19']

The unique values of 'Month' in the:
Train dataset:  ['c-8' 'c-4' 'c-9' 'c-11' 'c-10' 'c-1' 'c-7' 'c-6' 'c-5' 'c-3' 'c-12'
 'c-2']
Test dataset:  ['c-7' 'c-4' 'c-12' 'c-3' 'c-6' 'c-2' 'c-10' 'c-1' 'c-9' 'c-8' 'c-11'
 'c-5']

The unique values of 'DayOfWeek' in the:
Train dataset:  ['c-7' 'c-3' 'c-5' 'c-6' 'c-4' 'c-2' 'c-1']
Test dataset:  ['c-3' 'c-2' 'c-7' 'c-4' 'c-1' 'c-5' 'c-6']

We will be removing the "c-" in the 'Month', 'DayofMonth', 'DayOFWeek' columns in both train and test datasets.

In [10]:
def remove_C(data):
  return data[2:]

train['Month'] = train.apply(lambda row : remove_C(row['Month']), axis=1)
train['DayofMonth'] = train.apply(lambda row : remove_C(row['DayofMonth']), axis=1)
train['DayOfWeek'] = train.apply(lambda row : remove_C(row['DayOfWeek']), axis=1)

test['Month'] = test.apply(lambda row : remove_C(row['Month']), axis=1)
test['DayofMonth'] = test.apply(lambda row : remove_C(row['DayofMonth']), axis=1)
test['DayOfWeek'] = test.apply(lambda row : remove_C(row['DayOfWeek']), axis=1)

In [11]:
#We will be replacing the 'dep_delayed_15min' with 0-1;
train['dep_delayed_15min'].replace({"Y": 1, "N": 0}, inplace=True)

In [12]:
train.head()

,Month,DayofMonth,DayOfWeek,DepTime,UniqueCarrier,Origin,Dest,Distance,dep_delayed_15min
0,8,21,7,1934,AA,ATL,DFW,732,0
1,4,20,3,1548,US,PIT,MCO,834,0
2,9,2,5,1422,XE,RDU,CLE,416,0
3,11,25,6,1015,OO,DEN,MEM,872,0
4,10,7,6,1828,WN,MDW,OMA,423,1

In [13]:
test.head()

  Month DayofMonth DayOfWeek  DepTime UniqueCarrier Origin Dest  Distance
0     7         25         3      615            YV    MRY  PHX       598
1     4         17         2      739            WN    LAS  HOU      1235
2    12          2         7      651            MQ    GSP  ORD       577
3     3         25         7     1614            WN    BWI  MHT       377
4     6          6         3     1505            UA    ORD  STL       258

In [14]:
#Changing the type of the supposedly numeric columns into int64
train.DayofMonth=train.DayofMonth.astype(np.int64)
train.Month=train.DayofMonth.astype(np.int64)
train.DayOfWeek=train.DayofMonth.astype(np.int64)

test.DayofMonth=test.DayofMonth.astype(np.int64)
test.Month=test.DayofMonth.astype(np.int64)
test.DayOfWeek=test.DayofMonth.astype(np.int64)

In [15]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 9 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Month              100000 non-null  int64
 1   DayofMonth         100000 non-null  int64
 2   DayOfWeek          100000 non-null  int64
 3   DepTime            100000 non-null  int64
 4   UniqueCarrier      100000 non-null  object
 5   Origin             100000 non-null  object
 6   Dest               100000 non-null  object
 7   Distance           100000 non-null  int64
 8   dep_delayed_15min  100000 non-null  int64
dtypes: int64(6), object(3)
memory usage: 6.9+ MB

In [16]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 8 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Month          100000 non-null  int64
 1   DayofMonth     100000 non-null  int64
 2   DayOfWeek      100000 non-null  int64
 3   DepTime        100000 non-null  int64
 4   UniqueCarrier  100000 non-null  object
 5   Origin         100000 non-null  object
 6   Dest           100000 non-null  object
 7   Distance       100000 non-null  int64
dtypes: int64(5), object(3)
memory usage: 6.1+ MB

## One Hot Encoder: For both train and test data

In [17]:
#Create a list of culumns that u wish to perform encoding on
column_list = train.loc[:, (train.dtypes == "object")].columns.values.tolist()
print(column_list)

['UniqueCarrier', 'Origin', 'Dest']

### One Hot Encoder: Train dataset

In [18]:
from sklearn.preprocessing import OneHotEncoder

# Apply one-hot encoder to each column with categorical data
OH_encoder = OneHotEncoder(handle_unknown='ignore', sparse=False)
OH_cols = pd.DataFrame(OH_encoder.fit_transform(train[column_list]),columns= (OH_encoder.get_feature_names_out() ))

# One-hot encoding removed index; put it back
OH_cols.index = train.index

# Remove categorical columns (will replace with one-hot encoding)
train = train.drop(column_list, axis=1)

# Add one-hot encoded columns to numerical features
train = pd.concat([train, OH_cols], axis=1)

In [19]:
train.head()

,Month,DayofMonth,DayOfWeek,DepTime,Distance,dep_delayed_15min,UniqueCarrier_AA,UniqueCarrier_AQ,UniqueCarrier_AS,UniqueCarrier_B6,...,Dest_TYS,Dest_VCT,Dest_VIS,Dest_VLD,Dest_VPS,Dest_WRG,Dest_WYS,Dest_XNA,Dest_YAK,Dest_YUM
0,21,21,21,1934,732,0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,20,20,20,1548,834,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,2,2,1422,416,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,25,25,25,1015,872,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,7,7,7,1828,423,1,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### One Hot Encoder: Test dataset

In [20]:
from sklearn.preprocessing import OneHotEncoder

# Apply one-hot encoder to each column with categorical data
OH_encoder = OneHotEncoder(handle_unknown='ignore', sparse=False)
OH_cols = pd.DataFrame(OH_encoder.fit_transform(test[column_list]),columns= (OH_encoder.get_feature_names_out() ))

# One-hot encoding removed index; put it back
OH_cols.index = test.index

# Remove categorical columns (will replace with one-hot encoding)
test = test.drop(column_list, axis=1)

# Add one-hot encoded columns to numerical features
test = pd.concat([test, OH_cols], axis=1)

In [21]:
test.head()

,Month,DayofMonth,DayOfWeek,DepTime,Distance,UniqueCarrier_9E,UniqueCarrier_AA,UniqueCarrier_AQ,UniqueCarrier_AS,UniqueCarrier_B6,...,Dest_TYR,Dest_TYS,Dest_VLD,Dest_VPS,Dest_WRG,Dest_WYS,Dest_XNA,Dest_YAK,Dest_YKM,Dest_YUM
0,25,25,25,615,598,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,17,17,17,739,1235,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,2,2,651,577,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,25,25,25,1614,377,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,6,6,6,1505,258,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Applying Machine learning models and testing

In [22]:
#Splitting the dataset int test and train subsets
from sklearn.model_selection import train_test_split
X, y= train.drop(['dep_delayed_15min'], axis=1) ,train.dep_delayed_15min
# Divide data into training and validation subsets
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.20,random_state=0)

### **Logistic Regression**

In [23]:
from sklearn.linear_model import LogisticRegression
logisticRegr = LogisticRegression()
logisticRegr.fit(X_train, y_train)
y_pred = logisticRegr.predict(X_test)

### **Random Forest**

In [24]:
from sklearn.ensemble import RandomForestClassifier 
randFor = RandomForestClassifier(n_estimators=50, max_features="auto", random_state=0)
randFor.fit(X_train, y_train)
y_pred = randFor.predict(X_test)

In [25]:
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [26]:
accuracy_score(y_test, y_pred)

0.8035

In [27]:
confusion_matrix(y_test, y_pred)

array([[62866,  1914],
       [13806,  1414]])

In [28]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.82      0.97      0.89     64780
           1       0.42      0.09      0.15     15220

    accuracy                           0.80     80000
   macro avg       0.62      0.53      0.52     80000
weighted avg       0.74      0.80      0.75     80000